<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Algorithm Performance Test</title>
      <link rel="stylesheet" href="/static/style.css">
   </head>
   <body>
      <header>
         <div class="container">
            <div id="branding">
               <h1>Quantum-Safe Cryptography Tester</h1>
            </div>
            <nav>
               <ul>
                  <li class="current"><a href="/">Home</a></li>
               </ul>
            </nav>
         </div>
      </header>
      <section class="container">
         <h2>Algorithm Performance Test</h2>
         <form id="alg-test-form" action="/alg-perf/run-alg-perf-test" method="post">
            <label for="alg_name">Algorithm Name (e.g., kyber512):</label>
            <input type="text" id="alg_name" name="alg_name" value="kyber512"><br><br>
            <label for="test_seconds">Test Duration (seconds):</label>
            <input type="number" id="test_seconds" name="test_seconds" value="2"><br><br>
            <input type="submit" value="Run Algorithm Performance Test" class="run-test-button button">
            
            <!-- Loading module -->
            <div class="loading-module" style="display: none;">
               <div class="loading-spinner"></div>
               <p>Loading...</p>
            </div>
         </form>
      </section>
      <script>
         document.getElementById('alg-test-form').addEventListener('submit', function(event) {
         var algName = document.getElementById('alg_name').value;
         var testSeconds = document.getElementById('test_seconds').value;
         
         // Define supported KEM and signature algorithms
         var supportedAlgorithms = [
            // List all KEM algorithms
            'bikel1', 'p256_bikel1', 'x25519_bikel1', 'bikel3', 'p384_bikel3', 'x448_bikel3', 'bikel5', 'p521_bikel5',
            'kyber512', 'p256_kyber512', 'x25519_kyber512', 'kyber768', 'p384_kyber768', 'x448_kyber768', 'x25519_kyber768', 'p256_kyber768', 'kyber1024', 'p521_kyber1024',
         
            // List all signature algorithms
            'dilithium2', 'p256_dilithium2', 'rsa3072_dilithium2', 'dilithium3', 'p384_dilithium3', 'dilithium5', 'p521_dilithium5',
            'falcon512', 'p256_falcon512', 'rsa3072_falcon512', 'falcon1024', 'p521_falcon1024',
         ];
         
         // Validate Algorithm Name
         if(!supportedAlgorithms.includes(algName)) {
            event.preventDefault(); 
            alert('Please enter a valid algorithm name.');
            return false;
         }
         
         // Validate Test Duration
         testSeconds = parseInt(testSeconds, 10); // Parse it as a number
         if(isNaN(testSeconds) || testSeconds < 1 || testSeconds > 600) {
            event.preventDefault();
            alert('Please enter a valid test duration between 1 and 600 seconds.');
            return false;
         }
         // If validation passes, show loading module
         var loadingModule = document.querySelector('.loading-module');
         var runTestButton = document.querySelector(".run-test-button");

         runTestButton.style.display = "none";
         loadingModule.style.display = 'block';
         });
      </script>
   </body>
</html>
